* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --font-small: 14px;
  --font-large: 16px;
}

@font-face {
  font-family: "DM-Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf");
}

@font-face {
  font-family: "dms-bold";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}

@font-face {
  font-family: "DM-Sans-Medium";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
}

@font-face {
  font-family: "DM-Sans-i";
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Grotesque";
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}

body {
  background-color: #02012c;
  color: white;
  font-family: "DM-Sans";
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.nav > img {
  width: 138px;
  height: 28px;
}

.unit-btn {
  background-color: #262540;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  width: 90px;
  height: 33px;
  border-radius: 8px;
  font-size: var(--font-small);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6px;
  cursor: pointer;
}

.unit-btn img {
  width: 14px;
  height: 14px;
}

.drop-down-list,
.drop-down-list div {
  display: flex;
  flex-direction: column;
  font-size: var(--font-large);
}

.drop-down-list {
  background-color: #3c3b5e;
  padding: 16px;
  border-radius: 12px;
  width: 180px;
  padding: 8px;
  margin-top: 10px;
  position: absolute;
  top: 55px;
  font-weight: 450;
}

.drop-down-list span {
  height: 40px;
  padding: 10px 8px;
  border-radius: 8px;
  cursor: pointer;
  text-wrap: nowrap;
}

.drop-down-list .selected {
  background-color: #302f4a;
}

.header {
  color: #acacb7;
  font-size: var(--font-small);
  cursor: crosshair;
}

.dropDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.hide {
  display: none;
}

.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  font-family: "Grotesque";
  font-size: 52px;
  text-align: center;
  margin-top: 24px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.country-input {
  min-width: 300px;
  max-width: 526px;
  height: 45px;
  border-radius: 12px;
  background-color: #262540;
  padding: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.country-input input {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 18px;
  color: white;
}

.country-input img {
  width: 20px;
  height: 20px;
  color: #d4d3d9;
}

.search-form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  background-color: #4658d9;
  border: none;
  outline: none;
  color: white;
  width: 300px;
  height: 45px;
  border-radius: 12px;
  cursor: pointer;
}

/* weather info section */
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  background-color: #332cad;
  padding: 20px;
  border-radius: 20px;
}

.temperature {
  font-size: 96px;
  font-weight: 550;
  font-family: "DM-Sans-i";
}

.location {
  font-size: 28px;
  font-family: "dms-bold";
}

.location-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.temperature-container {
  display: flex;
  justify-content: space-between;
}

.temperature-container img {
  width: 120px;
  height: 120px;
}

.date {
  font-size: 18px;
  font-family: "DM-Sans-Medium";
  opacity: 0.7;
}

/* weather info detail section */
.detail-container {
  width: 164px;
  height: 118px;
  background-color: #262540;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
}

.detail-container .title {
  font-size: 18px;
  color: #D4D3D9;
}

.detail-container .value{
  font-size: 32px;
}

.details-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}


@media screen and (min-width: 768px) {
  .nav > img {
    width: 197px;
    height: 40px;
  }

  .unit-btn {
    width: 120px;
    height: 43px;
    font-size: var(--font-large);
  }

  .drop-down-list {
    width: 214px;
    top: 65px;
  }

  .search-form {
    flex-direction: row;
  }

  .btn {
    width: 114px;
  }

  .weather-info {
    flex-direction: row;
    height: 286px;
    padding-right: 40px;
  }

  .location-container {
    text-align: left;
    /* max-width: 800px; */
  }

  .temperature-container {
    width: 50%;
    justify-self: flex-end;
  }

  .details-list {
    display: flex;
  }
}
